@import '../../styles/variables';

.mygallery {
  position: relative;
  transition: all $transition;
  &__download {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgba(0, 45, 130, 0.4);
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: all $transition;
    backdrop-filter: blur(1px);
    &.visible {
      opacity: 1;
      transition: all $transition;
    }
  }
}