// $color-main: rgba(0, 47, 137, 1);
$color-main: rgba(7, 23, 38, 1);
$color-btn-secondary: rgba(0, 82, 255, 1);
$color-blue-text-title: rgb(0,121,255);
$color-btn-primary: rgba(58, 122, 255, 0.46);
$transition: 0.3s ease-in-out;
