@import '../../styles/variables.scss';

.header {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: $color-main;
  z-index: 101;
  &__nav-web {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
    }
  }
  &__nav-phone {
    display: none;
    width: 100%;
    height: 100%;
    &__wrapper {
      position: relative;
      background-color: $color-main;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 20;
    }
  }
}
.navigation {
  display: flex;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  list-style: none;
  color: #ffff;
  &__item {
    cursor: pointer
  }
  &__item:hover {
    color: $color-btn-secondary;
    scale: 105%;
    transition: $transition;
  }
  &--web {
    max-width: 665px;
    justify-content: space-between;
    gap: 40px;
  }
  &--phone {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 1520px) {
  .header__nav-web {
    gap: 20px
  }
  .navigation--web {
    font-size: 16px;
    font-weight: 400;
    gap: 20px;
  }
}
@media (max-width: 1340px) {
  .header
  .logo {
    font-size: 37px;
  }
  .header__nav-web
  .social {
    gap: 20px;
    padding: 0;
  }
  .header__nav-web {
    padding: 0;
  }
  .header__nav-web .btn,
  .header__nav-web .btn--game {
    min-width: 60px;
  }
  .header__nav-web .btn span,
  .header__nav-web .btn--game span {
    display: none;
  }
}
@media (max-width: 992px) {
  .header {
    height: 78px;
    &__wrapper {
      padding: 0 20px;
    }
    &__nav-web {
      display: none;
    }
    &__nav-phone {
      display: block;
      position: static;
      z-index: 99;
    }
  }
}
